<h1>Edit Your Profile Here</h1>
<form method="POST" action="/users/<%=@user.id%>">
    <input id="hidden" type="hidden" name="_method"
    value="patch">
    <p>
        <label for="user[artist_name">Name of Artist:</label>
        <input id="text" id="user[artist_name]" name="user[artist_name]" value="<%=@user.artist_name%>"/>
    </p>
    <p>
        <label for="user[email]">Email:</label>
        <input id="text" id="user[email]" name="user[email]" value="<%=@user.email%>"/>
    </p>
    <p>
        <label for="user[artist_statement]">Statement of the Artist:</label>
        <input id="text" id="user[artist_statement]" name="user[artist_statement]" value="<%=@user.artist_statement%>"/>
    </p>
    <input type="submit" name="submit" value="submit">
</form>