<h1>Artists/Creatives</h1>
<%@users.each do |user|%>
    <h2><%=user.artist_name%></h2>
    <p><%=user.email%><p>
    <p><%=user.artist_statement%><p>
    <a href="/users/<%=user.id%>/art_objects">Artist's Work</a>
<%end%>
<br>
<br>
<a href="/users/new">Sign Up</a>
<br>
<a href="/users/login">Log In</a>
<br>
<a href="/users/logout">Log Out</a>