<h2>Log In</h2>
<form method="POST" action="/users/login">
    <p>
        <label for="user[email]">Email:</label>
        <input type="text" name="user[email]"/>
    </p>
    <p>
        <label for="user[password]">Password:</label>
        <input type="password" name="user[email]"/>
    </p>
    <input type="submit" value="LogIn"/>
</form>