
<h1>Fill Out Form to ShowCase Your Art Work</h1>
<form method="POST" action="/art_objects">
<p>
    <label for="art_object[title]">Title:</label>
    <input type="text" name="art_object[title]"/>
</p>
<p>
    <label for="art_object[image]">Link To An Image of Your Work:</label>
    <input type="text" name="art_object[image]"/>
</p>
<p>
    <label for="art_object[date]">Date:</label>
    <input type="text" name="art_object[date"/>
</p>
<p>
    <label for="art_object[form]">Form:</label>
    <input type="text" name="art_object[form]"/>
</p>
<p>
    <label for="art_object[description]">Description:</label>
    <input type="text" name="art_object[description]"/>
</p>
<input type="submit" name="Submit" value="Submit"/>
</form>