<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2> Creative's Portfolios </h2>

    <div class="content">
      <p>Welcome to Creative's Portfolios.  Sign up to share abit about yourself and your work.  View this site to find other talents to collaborate with, or just be inspired.  Or view this site looking for works to curate or purchase.</p>
      <p>Artists/Creatives are asked to be respectful and appropriate. A wide range of art forms will be accepted and appreciated.  Thank you for contributing!</p>
      <p><a href="/users/login">Login</a></p>
      <p><a href="/users/new">Sign Up</a></p>
      <p><a href="/users">List of Artists</a></p>
      <p><a href="/art_objects">List of Art Works</a></p> 
    </div>

    
  </div>
</div>
